services:
  redis:
    image: redis:7.2
    command: redis-server --requirepass ${INGEST_REDIS_PASSWORD}
    ports:
       - 6379:6379
    networks:
      - uiuc-chat-network
    volumes:
      - redis-data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 3

  qdrant:
    image: qdrant/qdrant:v1.9.0
    # environment:
    #   - QDRANT_API_KEY=${QDRANT_API_KEY}
    ports:
      - 6333:6333
      - 6334:6334
    expose:
      - 6333
      - 6334
      - 6335
    volumes:
      - qdrant-data:/qdrant/storage
      - ./qdrant_config.yaml:/qdrant/config/production.yaml # Mount the config file directly as a volume
    networks:
      - uiuc-chat-network
    healthcheck:
      test:
        - CMD-SHELL
        - bash -c ':> /dev/tcp/127.0.0.1/6333' || exit 1
      interval: 30s
      timeout: 10s
      retries: 3

  minio:
    image: minio/minio:RELEASE.2024-06-13T22-53-53Z
    # Customize env vars in .env file
    environment:
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_ACCESS_KEY}
      MINIO_API_PORT: ${DOCKER_INTERNAL_MINIO_API_PORT}
      MINIO_CONSOLE_PORT: ${DOCKER_INTERNAL_MINIO_DASHBOARD_PORT}
    command: server /data --console-address ":${DOCKER_INTERNAL_MINIO_DASHBOARD_PORT}" --address ":${DOCKER_INTERNAL_MINIO_API_PORT}"
    ports:
      - ${PUBLIC_MINIO_API_PORT}:${DOCKER_INTERNAL_MINIO_API_PORT} # API access
      - ${PUBLIC_MINIO_DASHBOARD_PORT}:${DOCKER_INTERNAL_MINIO_DASHBOARD_PORT} # Dashboard access
    expose:
      - ${PUBLIC_MINIO_API_PORT}
      - ${PUBLIC_MINIO_DASHBOARD_PORT}
    networks:
      - uiuc-chat-network
    volumes:
      - minio-data:/data
    healthcheck:
      test:
        - CMD-SHELL
        - bash -c ':> /dev/tcp/127.0.0.1/${DOCKER_INTERNAL_MINIO_API_PORT}' || exit 1
      interval: 30s
      timeout: 10s
      retries: 3

  # crawlee:
  #   build: ./ic_crawlee
  #   platform: linux/amd64  # M chip
  #   networks:
  #     - uiuc-chat-network
  #   volumes:
  #     - ./data:/data
  #   ports:
  #     - "3345:3000"
  #   env_file:
  #     - .env
  #   environment:
  #     - INGEST_URL=http://flask-app:8001/ingest
  #   depends_on:
  #     - redis

  postgres-illinois-chat:
    image: postgres
    networks:
      - uiuc-chat-network
    volumes:
      - postgres-illinois-chat:/var/lib/postgresql
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DATABASE: postgres
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres-keycloak:
    image: postgres
    networks:
      - uiuc-chat-network
    volumes:
      - postgres-keycloak:/var/lib/postgresql
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DATABASE: postgres
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER:-guest}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASS:-guest}
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "5672" ]
      interval: 3s
      timeout: 10s
      retries: 3
    networks:
      - uiuc-chat-network
    volumes:
      - rabbitmq:/var/lib/rabbitmq

  keycloak:
    platform: linux/amd64  # M chip
    image: quay.io/keycloak/keycloak:26.1
    env_file:
      - .env
    ports:
      - "8080:8080"
    networks:
      - uiuc-chat-network
    command:
      - start-dev
      - --http-enabled=true
      - --hostname=localhost
      - --hostname-strict=false
      - --db=postgres
      - --db-url=jdbc:postgresql://postgres-keycloak:5432/postgres
      - --db-username=${POSTGRES_USERNAME}
      - --db-password=${POSTGRES_PASSWORD}
      - --import-realm
    environment:
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN_USERNAME}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
      - KC_METRICS_ENABLED=true
      - KC_HEALTH_ENABLED=true
    volumes:
      - ./keycloak-theme:/opt/keycloak/themes/keywind
      - ./keycloak/realms/realm-export.json:/opt/keycloak/data/import/realm-export.json
    healthcheck:
      test:
        - CMD-SHELL
        - bash -c ':> /dev/tcp/127.0.0.1/8080' || exit 1
      interval: 30s
      timeout: 10s
      retries: 3

  drizzle-gateway:
    image: ghcr.io/drizzle-team/gateway:latest
    ports:
      - "4983:4983"
    networks:
      - uiuc-chat-network
    volumes:
      - drizzle-gateway:/app/drizzle-gateway-volume
    environment:
      - PORT=4983
      - STORE_PATH=/app/drizzle-gateway-volume
      - MASTERPASS=${DRIZZLE_MASTERPASS:-your_master_password}
    depends_on:
      postgres-illinois-chat:
        condition: service_healthy

# declare the network resource
# this will allow you to use service discovery and address a container by its name from within the network
networks:
  uiuc-chat-network:
    driver: bridge

volumes:
  redis-data: {}
  qdrant-data: {}
  minio-data: {}
  postgres-illinois-chat: {}
  postgres-keycloak: {}
  rabbitmq: {}
  ollama-data: {}
  drizzle-gateway: {}
